*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: black;
  color: white;
  min-height: 100vh;
 
}
.App .container{
  width: 80%;
  margin: 0 auto;
}
/*header*/
.header{
  padding-top: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header h2{
  font-family: 'Roboto';
  color: #C5C5C5;
  font-weight: 700;
  font-size: 64px;
}
.header h2 span{
  color: #FFD600;
}
.header input{
  padding-left: 10%;
  color: white;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white !important;
  outline: none;
  padding-bottom: 15px;
}
.header .search{
  width: 20%;
  position: relative;
}
.header .search .searchicon{
  bottom: 15px;
  position: absolute;
}
.header input::placeholder{
 
  color: #9A9A9A;
}
/* recently viewd*/
.recent{
  margin-top: 2%;
  transition: ease-in-out 0.5s;
  
}
.recent .recent-header{
  display: flex;
  align-items: center;
}
.recent-header .arrow{
  font-size: 36px;
  margin-left: 2%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transition: ease-in-out 0.5s;
}
.recent-header .reverse-arrow{
  font-size: 36px;
  margin-left: 2%;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: ease-in-out 0.5s;
}
.recent-header h2{
  font-size: 36px;
  font-family: 'roboto';
  color: #FFFFFF;
  font-weight: 700;
}
.recent .slider{
  transition: ease-in-out 0.5s;
  height: 200px;
}
/*switching tabs*/
.switching-tabs{
  margin-bottom: 2%;
}
.switching-tabs span{
  font-family: 'Roboto';
  margin-right: 5%;
  font-size: 32px;
}
.switching-tabs span:hover{
  cursor: pointer;
}
.switching-tabs .active{
  border-bottom: 4px solid #FFD600;
}
/*movies*/
.Movies {
  min-height: 600px;
  background-color: black;
  margin-top: 2% !important;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
    
}